<ion-header>
  <ion-navbar color="navy">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ประวัติ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <ion-item-group>
    <div *ngFor="let itm of list">
      <ion-item-divider color="dark">{{itm.date}}</ion-item-divider>
      <ion-item *ngFor="let dataitm of itm.data">
          <ion-badge color="{{dataitm.cetlabel}}">{{dataitm.cetname}}</ion-badge>
        <p>{{dataitm.checkin}} {{dataitm.timein}} {{dataitm.checkout}} {{dataitm.timeout}}</p>

      </ion-item>
    </div>



  </ion-item-group>
</ion-content>